# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# AWS credentials
.aws/
credentials

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
